@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
    background-color: #eeeeee;
    color: #3c4858;
    margin: 0;
    font-weight: 300;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}